# Ignore virtual environment folders
venv/
.env/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore environment variables files
*.env

# Ignore all directories
**/
*/

# But keep certain directories
!dontignorethisone/
